// Text Color
$as-color-primary: #29384e;
$as-color-secondary: #546071;
$as-color-secondary-2: #7f8895;
$as-color-disable: #a9afb8;

// Background
$as-color-white: #fff;
$as-color-black: #121212;
$as-color-soft: #f5faff;
$as-color-blue-darken: #22273c;

// Miscellaneous State
$as-color-blue-bright: #2199fa;
$as-color-pink-soft: #fd8ca9;
$as-color-blue-soft: #94ccf7;
$as-color-yellow-soft: #FFF9E6;
$as-color-very-soft-blue: #F5FAFF;
$as-color-gray-soft: #f3f4f6;
$as-color-gray-soft-2: #f8f8f8;

// Primary State
$as-color-blue: #007aff;
$as-color-blue-light: #e0efff;
$as-color-blue-dark: #0057b2;

// Secondary State
$as-color-orange: #ff9800;
$as-color-orange-light: #ffe082;
$as-color-orange-dark: #c77700;

// Button Primary
$as-color-orange-hover: #ed8e01;
$as-color-orange-pressed: #dd8400;

// Error State
$as-color-red: #f43636;
$as-color-red-light: #fbb2b2;
$as-color-red-dark: #a83232;

// Button Destructive
$as-color-red-hover: #e13030;
$as-color-red-pressed:#c92d2d;

// Success State
$as-color-green: #00Bfa6;
$as-color-green-light: #adebe3;
$as-color-green-dark: #00897b;

// Button Success
$as-color-green-hover: #00ad96;
$as-color-green-pressed: #019b86;

// Warning State
$as-color-yellow: #ffc721;
$as-color-yellow-light: #ffedb8;
$as-color-yellow-dark: #ffb547;

// Button Text
$as-color-text-hover: #f2f2f2;
$as-color-text-pressed:#ededed;

// Button Disable
$as-color-disable-state: #ececec;

// Button Neutral
$as-color-neutral-hover: #fff5e6;
$as-color-neutral-pressed:#ffeacc;

// Other
$as-color-divider: #d9dde3;
$as-color-border: #bfc5cc;
$as-color-backdrop: #7b8187;
$as-color-gray: #f2f2f2;
$as-color-gray-dark: #ededed;

// Badge Color
$as-color-primary-text-color: #eff6ff;
$as-color-primary-bg-color: #1d4ed8;
$as-color-secondary-text-color: #1d4ed8;
$as-color-secondary-bg-color: #eff6ff;
$as-color-warning-text-color: #c2410c;
$as-color-warning-bg-color: #fff7ed;
$as-color-danger-text-color: #b91c1c;
$as-color-danger-bg-color: #fee2e2;
