.as-link {
  color: var(--as-color-blue);

  &:hover,
  &:focus,
  &:active {
    color: var(--as-color-blue-dark);
    text-decoration: underline;
  }
}

.as-link-red {
  color: var(--as-color-red);

  &:hover,
  &:focus,
  &:active {
    color: var(--as-color-red-dark);
  }
}
