@use '../mixins/font'as *;
@use '../mixins/breakpoint'as *;
@use '../variables/color'as *;
@use '../variables/gradient'as *;

.as-belt {
  background-color: $as-color-blue-dark;
  color: $as-color-white;
  height: auto;
  padding: 1.25rem;
  width: 100%;

  @include screen(desktop) {
    padding: unset;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin-inline: auto;
    width: auto;

    @include screen(desktop) {
      flex-direction: row;
      gap: 3.5rem;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &-content {
    max-width: 100%;

    @include screen(desktop) {
      max-width: 541px;
    }

    &__title {
      @include font-size('24-bold');
      line-height: 2rem;
    }

    &__description {
      @include font-size('16');
      line-height: 1.5rem;
    }
  }

  &__image {
    height: auto;
    max-width: 200px;

    @include screen(desktop) {
      height: 130px;
      max-width: 255px;
    }
  }

  &__button {
    width: 100%;

    @include screen(desktop) {
      max-width: 255px;
    }
  }
}
