.as-border {
  &--top {
    border-top: 1px solid var(--as-color-divider);
  }

  &--right {
    border-right: 1px solid var(--as-color-divider);
  }

  &--bottom {
    border-bottom: 1px solid var(--as-color-divider);
  }

  &--left {
    border-left: 1px solid var(--as-color-divider);
  }
}
