@use '../mixins/breakpoint'as *;
@use '../mixins/font' as *;

.as-checkbox {
  margin-bottom: 0;

  &__item {
    @include font-size('16-semibold');
    color: var(--as-color-secondary-2);
    cursor: auto;
    display: block;
    margin-bottom: 1.25rem;
    position: relative;
    padding-left: 2.25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      height: 0;
      opacity: 0;
      position: absolute;
      width: 0;

      &:checked {
        ~ {
          .checkmark {
            background-color: var(--as-color-blue);
            border: solid var(--as-color-blue);

            &:after {
              display: block;
            }
          }
        }
      }
    }

    .checkmark {
      &:after {
        border: solid var(--as-color-white);
        border-width: 0 2px 2px 0;
        height: 10px;
        left: 8px;
        top: 4px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 5px;

        @include screen(desktopExtraLarge) {
          left: 7px;
          top: 3px;
        }
      }
    }
  }

  .checkmark {
    border: 2px solid var(--as-color-secondary-2);
    border-radius: 6px;
    cursor: pointer;
    height: 24px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 24px;

    &:after {
      content: "";
      display: none;
      position: absolute;
    }
  }
}

